.cards {
  max-width: 413px;
  font-family: Poppings-medium, Arial, Helvetica, san-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-top: 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  opacity: 40%;
  border-radius: 8px;
  overflow: hidden;
}
.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}
