/*
.card {
  width: 540px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.card__title {
  padding: 0 0 32px;
  margin: 0;
}
.card__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card__list-item {
  display: flex;
  gap: 10px;
}
.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
}
*/