.footer {
  width: 100%;
  min-width: fit-content;
}
.footer__paragraph {
  display: flex;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
}
