.footer {
  width: 100%;
  min-width: fit-content;
  font-family: Poppings-medium, Arial, Helvetica, san-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.footer__paragraph {
  font-size: 16px;
  display: flex;
  margin: 0 auto;
  padding: 50px 0;
  justify-content: center;
  opacity: 70%;
}

@media screen and (max-width: 627px) {
  .footer__paragraph {
    width: 104px;
    line-height: 1.2;
    margin: 8px 0;
    font-family: inherit;
    padding: 100px 0;
    opacity: 70%;
  }
}
