.header {
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
/*.header__title{
}*/
/*head__description*/
.header__logo {
  width: 94px;
  height: 26px;
  margin: 0 auto;
}
