.pages {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: Poppings-medium, Arial, Helvetica, san-serif;
}
.pages__section {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #4545;
}
