.profile {
  display: flex;
  max-width: 1280px;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  justify-content: center;
  background-color: #fcf5e5;
}
.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}
.profile__column {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0;
}

.profile__name {
  white-space: nowrap;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limits the text to 3 lines */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Ensures ellipsis is shown */
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limits the text to 3 lines */
  overflow: hidden;
  text-overflow: ellipsis; /* Ensures ellipsis is shown */
  color: #212121b2;
}

.profile__edi-button {
  display: flex;
  margin-top: auto;
  padding: 0;
  border: none;
  background-color: #fcf5e5;
  gap: 10px;
  width: 84px;
  height: 16px;
  white-space: nowrap;
  opacity: 50%;
}
.profile__edi-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.profile__add-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppings-medium, Arial, Helvetica, san-serif;
  margin-top: auto;
  margin-left: auto;
  padding: 16px 32px 16px;
  width: 157px;
  height: 52px;
  color: #fcf5e5;
  border-radius: 8px;
  background-color: #212121;
  gap: 8px;
}
.profile__add-button:hover {
  cursor: pointer;
  color: #fcf5e5;
  opacity: 80%;
  transition: background-color 1s ease;
}
.profile__plus-icon {
  width: 12px;
  height: 12px;
  border: 2px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Limits the text to 3 lines */
    overflow: hidden;
    text-overflow: ellipsis; /* Ensures ellipsis is shown */
    max-width: 288px;
  }
  .profile__column {
    margin: 0 0 20px;
  }
  .profile__description {
    margin: 0 0 32px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Limits the text to 3 lines */
    overflow: hidden;
    text-overflow: ellipsis; /* Ensures ellipsis is shown */
    max-width: 288px;
  }
  .profile__edi-button {
    background-color: transparent;
    color: #212121;
    margin: 0 0 30px;
  }
  .profile__add-button {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 18px 32px;
    width: 100%;
    background-color: #212121;
    color: #fcf5e5;
    border-radius: 8px;
    gap: 8px;
  }
}
