.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  opacity: 40%;
}
.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
}
.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  text-wrap-mode: nowrap;
  margin: 0 0 12px;
}

.profile__description {
  margin: 0;
}

.profile__edi-button {
  margin-top: auto;
}

.profile__add-button {
  background-color: #212121;
}
