@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../vendor/fonts/Poppins-Medium.ttf);
@import url(../vendor/fonts/Poppins-Regular.ttf);
@import url(../blocks/pages.css);
