@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../vendor/fonts/Poppins-Medium.ttf);
@import url(../vendor/fonts/Poppins-Regular.ttf);
@import url(../blocks/about.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);
@import url(../blocks/form.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/pages.css);
